@mixin light-theme{
  --main-bg:#e8e8e8;
  --app-bg:#f4f4f4;

  --navbar-bg:#fff;
  --navbar-border:#f1f1f1;

  --logo-border:#c4c4c4;
  --logo-fill:#696969;

  --hr:#d2d2d2;

  --primary-color:#242424;
  --secondary-color:#242424;
  --gray:#8c8a8a;
  --gray1:#6e6e6e;

  --card-bg:#fff;
  --card-bg-hover:#dfdede;
  --card-inner-shadow:#0000000a;
  --wk-card-inner-shadow:linear-gradient(203deg, #00000005, transparent);
  --routine-card-inner-shadow:linear-gradient(203deg, #0000000a, transparent);
  --shadow-bg:#f0f0f0;
  --card-dashed-border:#dcdcdc;

  --input-bg:#f4f4f4;
  --input-border:#d2d2d2;
  --input-color:#000;

  --modal-bg:#fff;
  --modal-dragger:#dbdbdb;
  --modal-btn-border:#cecece;

  --search-btn-bg:#fff;
  --search-btn-color:#121316;

  --scrollbar:#00000012;
  --scrollbar-hover:#00000026;

  --prev-set-bg:#00000005;

  --max-record-card-bg:linear-gradient(140deg, #f5f1ff, var(--card-bg));
  --max-record-card-border:#e0e0e0;
  --max-record-text-opacity: 0.8;

  --routine-card-bg-opacity: 0.3;
  --routine-card-split-line:#e5e5e5;
  --workout-card-bg-opacity: 0.05;

  --metrics-card-border:#e6e5e5;
  --metrics-general-shadow-fxcolor:#e5e5e572;
  --metrics-data-shadow-fxcolor:#f5f5f5;
  --metrics-data-borders:#e3e3e3;
  --metrics-no-data-color:#e0e0e0;

  --skeleton-bg:#f5f5f518;

  --login-bg-shapes:rgb(255 255 255 / 70%);
}

@mixin dark-theme{
  --main-bg:#09090c;
  --app-bg:#0f1014;

  --navbar-bg:#15161b;
  --navbar-border:#ffffff03;

  --logo-border:#272727;
  --logo-fill:#484848;
  
  --hr:#333;

  --primary-color:#fff;
  --secondary-color:#fff;
  --gray:#272727;
  --gray1:#6e6e6e;

  --card-bg:#1E1F23;
  --card-bg-hover:#1E1F23;
  --card-inner-shadow:#0000001a;
  --wk-card-inner-shadow:linear-gradient(203deg, #0000001a, transparent);
  --routine-card-inner-shadow:linear-gradient(203deg, #0000001a, transparent);
  --shadow-bg:#ffffff12;
  --card-dashed-border:#282828;

  --input-bg:#0c0f10;
  --input-border:#212121;
  --input-color:#9a9a9a;

  --modal-bg:#1c1f21;
  --modal-dragger:#ffffff21;
  --modal-btn-border:#373539;

  --search-btn-bg:#292a34;
  --search-btn-color:#fff;

  --scrollbar:#ffffff12;
  --scrollbar-hover:#ffffff26;

  --prev-set-bg:#00000020;

  --max-record-card-bg:linear-gradient(140deg, #0c0c0c, var(--card-bg));
  --max-record-card-border:#251B35;
  --max-record-text-opacity: 0.4;

  --routine-card-bg-opacity: 0.05;
  --routine-card-split-line:#ffffff10;
  --workout-card-bg-opacity: 0.05;

  --metrics-card-border:#232323;
  --metrics-general-shadow-fxcolor:#111112;
  --metrics-data-shadow-fxcolor:#18191c;
  --metrics-data-borders:#242424;
  --metrics-no-data-color:#272525;

  --skeleton-bg:#f5f5f518;

  --login-bg-shapes:rgb(255 255 255 / 8%);
}

:root, [data-theme="white"] {
  @include light-theme;
}

[data-theme="dark"] {
  @include dark-theme;
}

[data-theme="dark-oled"] {
  --main-bg:#09090c;
  --app-bg:#000;

  --navbar-bg:#000;
  --navbar-border:#ffffff24;

  --logo-border:#272727;
  --logo-fill:#484848;
  
  --hr:#333;

  --primary-color:#fff;
  --secondary-color:#fff;
  --gray:#272727;
  --gray1:#6e6e6e;

  --card-bg:#1E1F23;
  --card-bg-hover:#1E1F23;
  --card-inner-shadow:#0000001a;
  --shadow-bg:#ffffff12;
  --card-dashed-border:#282828;

  --input-bg:#0c0f10;
  --input-border:#212121;
  --input-color:#9a9a9a;

  --modal-bg:#1c1f21;
  --modal-dragger:#ffffff21;
  --modal-btn-border:#373539;

  --search-btn-bg:#292a34;
  --search-btn-color:#fff;

  --scrollbar:#ffffff12;
  --scrollbar-hover:#ffffff26;
}

[data-theme="device"] {
  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
}