.sort-menu {
  .MuiMenu-paper {
    border-radius: 8px;
    background: #18191c;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);

    .MuiMenuItem-root {
      font-weight: 500;
      color: var(--primary-color);
      line-height: 22px;
      min-height: 22px;
      svg {
        font-size: 18px;
      }
      &:hover {
        background: var(--gray1);
        color:#fff;
      }
    }
  }
}

.exercises-container {
  color: #fff;
  position: relative;

  .btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
  }

  .add-exercise {
    background: #3bbf4a;
    background: linear-gradient(90deg, #69006d 0%, #cf325b 51.04%, #fa7242 100%);
    &:hover {
      background: #2f983b;
      background: linear-gradient(90deg, #69006d 0%, #cf325b 51.04%, #fa7242 100%);
    }
  }

  .no-results {
    color: gray;
    text-align: center;
  }

  .sort-by {
    font-weight: 500;
    color: var(--primary-color) !important;
    display: flex;
    font-size: 16px;
    margin-top: -10px;
    margin-left: -2px;
    text-transform: capitalize;
    position: relative;
    z-index: 11;
    cursor: default;
  }

  .exercises-list {
    height: 100%;
    margin-top: 25px;

    .loader-animation {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 37px;
      color: #757cef;
    }

    .exercise {
       font-family: 'Baloo Tamma 2', sans-serif;
      background: var(--card-bg);
      width: 100%;
      box-shadow: 0 3px 7px rgb(0 0 0 / 9%);
      border-radius: 14px;
      border: 1px solid transparent;
      padding: 10px 16px;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--gray1);
      position: relative;
      min-height: 70px;
      touch-action:cross-slide-y;
      user-select: none;

      &.skeleton {
        animation: skeleton-loading 1s linear infinite alternate;
        &::before {
          background: unset;
        }
      }

      @media (width>= 480px) {
        &:hover {
         border: 1px solid var(--gray1);
        }
      }

      &::before {
        content: "";
        background: var(--card-inner-shadow);
        height: 100%;
        width: 50%;
        position: absolute;
        transform: skew(45deg);
      }

      &:nth-child(even)::before {
        transform: skew(315deg);
        right: 0;
      }

      h1 {
        font-weight: 600;
        font-size: 18px;
        color: var(--primary-color);
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .time {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        flex-direction: column;
        text-transform: capitalize;
        
        p {
          white-space: nowrap;
        }
        svg {
          margin-top: 5px;
          font-size: 16px;
        }
      }

      .title {
        max-width: 84%;
      }

      .info {
        font-size: 14px;
        font-weight: 500;
        margin-top: -8px;
        span {
          font-weight: 700;
          color: #b4c0ff;
          margin-left: 10px;
          margin-right: 2px;
          &:nth-child(2) {
            margin-left: 2px;
            color: #ff81af;
          }
        }
      }
    }
  }
}