#app-container {
  .noselect {
    -webkit-touch-callout: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
  }

  font-family: "Baloo Tamma 2";
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
  background: var(--app-bg);
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    padding: 10px 0;
    min-height: 60px;
    backdrop-filter: blur(2px);
    &.sticky {
      position: sticky;
      width: 100%;
      top: 0;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--app-bg);
        opacity: 0.9;
        z-index: -1;
        top: 0;
      }

      // backdrop-filter: blur(2px);
    }

    #title {
      width: auto;
      &::first-letter {
        text-transform: uppercase;
      }
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        color: var(--primary-color)
      }
      .underline {
        width: 25px;
        height: 7px;
        background: #272727;
        border-radius: 9px;
        display: block;
        margin-top: clamp(1px, 1vh, 20px);
      }
    }
  }

  .roundbtn {
    min-width: 40px;
    width: 40px;
    height: 40px;
    mix-blend-mode: normal;
    box-shadow: 0 3px 7px rgb(0 0 0 / 30%);
    border-radius: 23px;
    margin-left: 10px;
    color: #fff;
  }

  overflow-y: visible;
  margin: 0 auto;

  #content {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    overflow: visible;
    box-sizing: border-box;
    padding-bottom: 120px;
    overflow: hidden scroll;
    max-height: 100%;
    position: relative;

    & > :first-child {
      max-width: 506px;
      margin: 0 auto;
    }
  }

  @media (width >= 480px) {
    max-width: 1057px;
    width: 100%;
    height: 100%;
    max-height: 765px;
    border-radius: 8px;
    background: var(--app-bg);
    padding-bottom: unset;
    display: flex;
    margin-top: 3%;

    #content {
      padding-bottom: 20px;
    }

    .header {
      padding: 25px 0 10px;
    }
  }

  @media (width <= 1280px) {
    width: 100% !important;
    max-width: unset !important;
    margin-top: 0 !important;
    max-height: 100vh !important;
  }

  #copyright{
    display: none;
  }

  @media (width >= 680px) {
    #copyright{
      display: unset;
    }
  }
}