.options-menu {
  .MuiMenu-paper {
    border-radius: 8px;
    background: #18191c;
    box-shadow: 0 3px 7px rgba(0 0 0 / 55%);
    border: none;
    margin-top: 8px;
    margin-left: -1%;

    .MuiMenuItem-root {
      font-weight: 500;
      color: #fff;
      text-align: center;
      display: flex;
      line-height: 22px;
      min-height: 22px;

      svg {
        // margin-right: 4px;
        font-size: 18px;
      }

      &:hover {
        background: #ffffff19;
      }
    }
  }
}

.exerciseInfo-container {
  .header {
    #title {
      z-index: 122;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    .btns {
      position: unset;
      width: 40px;
    }

    .btn-back {
      width: 40px;
      min-width: 40px !important;
      height: 40px;
      min-height: 10px;
      border-radius: 50%;
      color: gray;
      justify-content: center;
      align-items: center;
      margin-right: 4px;

      &:hover {
        background: #ffffff09;
      }

      svg {
        margin-left: 8px;
        font-size: 20px;
      }
    }

    h1 {
      word-wrap: break-word;
      padding-top: 4px;
      overflow: hidden;
      line-height: 22px;
      position: relative;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .content {
    .max-records {
      display: flex;
      padding: 0;
      justify-content: space-between;
      flex-direction: row;
      border-radius: 10px;

      h3 {
        margin-left: 10px;
      }

      .records {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
      }

      .record {
        position: relative;
        padding: 20px 10px;
        box-sizing: border-box;
        width: 48%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        background-color: var(--card-bg);
        background-image: var(--max-record-card-bg);
        text-align: center;
        overflow: hidden;
        border: 1px solid var(--max-record-card-border);

        &::before {
          content: "";
          background: var(--card-inner-shadow);
          height: 100%;
          width: 70%;
          position: absolute;
          transform: skew(140deg);
          right: -10px;
          top: 0;
          z-index: 1;
        }

        &.mr {
          color: #b4c0ff;
        }

        &.vol {
          color: #ff81af;
        }

        span {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          opacity: var(--max-record-text-opacity);
        }

        h1 {
          justify-content: center;
          display: flex;
          align-items: center;
          font-size: min(22vw, 110px);
          text-shadow: 8px 9px 0 rgba(146 129 252 / 45%);
          text-shadow: 0 14px 30px rgba(146 129 252 / 35%);
          width: 100%;
          margin-top: 14px;
          margin-bottom: -40px;
          height: 100%;
          font-weight: 900;
          z-index: 1;
          position: relative;
        }
      }
    }

    .chart-wrapper {
      // padding: 20px 20px;
      // background-color: var(--card-bg);
      margin-top: 20px;
      border-radius: 10px;
      color: var(--primary-color) !important;

      .chart {
        // background-color: rgb(20, 20, 20);
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid var(--hr);
        box-sizing: border-box;
      }

      .header {
        // border: 1px solid red;
        // line-height: 0 !important;
        padding: 0 !important;

        >div {
          display: flex;
          margin-left: 2px;

          .select {
            display: flex;

            span {
              // width: 40px;
              color: var(--gray1);
              display: flex;
              margin-right: 10px;
              cursor: pointer;
              transition: color 0.5s;
            }

            .reps {
              &:hover,
              &.active {
                color: #b4c0ff;
              }
            }

            .vol {
              border-left: 1px dashed var(--card-bg) !important;
              padding-left: 10px;
              &:hover,
              &.active {
                color: #ff81af;
              }
            }
          }
        }
      }

      .periods {
        button {
          background-color: transparent !important;
          border-left: 1px dashed var(--card-bg) !important;
          min-width: 40px !important;
          border-radius: 0;
          font-weight: 600;
          color: var(--gray1);
          text-transform: capitalize;
          transition: color 0.5s;

          &:first-child {
            border: none !important;
          }

          &.active {
            color: #ff81af;
          }
        }

        &.reps .active{
          color: #b4c0ff !important;
        }
      }
    }
  }

  .modal-del-ex {
    .main {
      padding: 0 20px 10px;
    }

    .info {
      color: var(--primary-color);
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      svg {
        margin-top: -4px;
        margin-right: 10px;
        font-size: 40px;
      }
    }

    .ctrl {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -10px;
      border: unset;
      z-index: 10;

      .del {
        background: transparent;
        border: 1px solid red;
        color: red;
        font-weight: 900 !important;
      }

      .cancel {
        color: var(--gray1);
      }

      .loader {
        color: red;
        margin-left: -20px;
      }
    }
  }

  .edit-exercise {
    color: gray;
    min-width: 10px;
    min-height: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;

    &:hover {
      background: #ffffff09;
    }
  }

  .del-exercise {
    color: gray !important;
    background-color: #222020;

    &:hover {
      background: linear-gradient(90deg, #222020 0%, #970808 100%);
    }
  }

  .custom-tooltip {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(180deg, var(--card-bg) 0%, rgba(255 255 255 / 0%) 100%);

    .rep {
      color: #b4c0ff;
    }

    .vol {
      color: #ff81af;
    }

    .date {
      color: gray;
      border-top: 1px dashed var(--hr);
    }
  }
}