.account-container {
  position: relative;
  min-height: 100vh;
  min-width: 280px;
  font-family: Poppins;
  color: #9b9b9b;
  font-size: 16px;
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0% 30px 0;
  max-width: 357px;
  margin: 0 auto;
  -webkit-touch-callout: none;
  user-select: none;

  #content-wrap {
    padding-bottom: 60px;
    width: 100%;
  }

  header {
    text-align: center;
    height: 7vh;
    max-height: 186px;
    min-height: 174px;

    p {
      margin: revert;
      color: #676767;
      font-family: Puritan, sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 10px;

      &:nth-of-type(1) {
        font-family: Ubuntu;
        font-weight: 500;
        font-size: 21px;
      }
    }
  }

  .logo {
    max-width: 86px;
    min-width: 40px;
    height: auto;
    width: 38%;
    pointer-events: none;
    margin-top: 20px;
    border: 4px solid var(--logo-border);
    border-radius: 16px;
    box-sizing: border-box;
  }

  .heading {
    height: 10vh;
    min-height: 50px;
    max-height: 140px;
    display: flex;
    align-items: center;
  }

  .motion {
    width: 100%;
    overflow: hidden;
  }

  .acc-status {
    font-size: 17px;
    color: #f58787;
    text-align: center;
    background: #181818;
    padding: 22px;
    border: 10px;
    border-radius: 14px;
    margin-bottom: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activation-spinner {
    width: 20px !important;
    height: 20px !important;
    margin-bottom: -5px;
    margin-right: 5px;
    color: gray;
  }

  .enter-email {
    margin: 0 auto;
    font-family: Ubuntu;
    margin-top: -14px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
    text-align-last: inherit;
    width: 88%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #383838;
    font-size: 14px;
    font-weight: 500;
    text-align: center;

    input {
      margin-bottom: 14px;
    }

    .lostpw {
      line-height: 46px;
      margin-top: -14px;
      cursor: pointer;
    }

    .switchform {
      line-height: 46px;
      margin-top: clamp(5px, 5vh, 46px);
      border-top: 1px solid #181818;
      padding-top: 10px;
      color: #585858;

      span {
        color: #f76e43;
        cursor: pointer;
      }
    }

    button {
      height: 64px;
      text-align: center;
      color: #fff;
      border-radius: 16px;
      text-transform: capitalize;
      font-family: Ubuntu;
      font-size: 16px;
      background: linear-gradient(90deg, #69006d 0%, #cf325b 51.04%, #fa7242 100%);
      background-repeat: no-repeat;

      box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
      margin-top: 15px;
      padding: 0;
    }
  }

  #copyright {
    margin-bottom: 10px;
    border-top: 0;
  }
}