.workout-card {
  font-family: 'Baloo Tamma 2', sans-serif;
  background: var(--card-bg);
  width: 100%;
  box-shadow: 0 3px 7px rgb(0 0 0 / 9%);
  border-radius: 14px;
  border: 1px solid transparent;
  padding: 10px 16px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #6e6e6e;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  touch-action: cross-slide-y;
  user-select: none;

  &::after {
    content: "";
    background: var(--wk-card-inner-shadow);
    height: 100%;
    width: 200px;
    position: absolute;
    transform: skew(45deg);
    top: 0;
    left: -20px;
  }

  &:nth-child(even) {
    &::after {
      transform: skew(-45deg) scaleX(-1);
      right: -20px;
      left: unset;
    }

    .copy-wk::before {
      transform: skew(45deg) scaleX(-1) !important;
      left: -20px !important;
      right: unset !important;
    }
  }

  p,
  h1,
  span {
    cursor: default;
  }

  &.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;

    &::before {
      background: unset;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -28px;
    left: 0;
    background-image: url("../../assets/workoutBg.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 120px;
    height: 100%;
    opacity: var(--workout-card-bg-opacity);
    z-index: 0;
    transform: scaleX(1);
    animation: fade-in 1s ease forwards;
  }

  &:nth-child(even)::before {
    transform: scaleX(1);
    right: 0;
    left: unset;
  }

  h1 {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .top-container {
    display: flex;
    align-items: center;
    margin-top: -10px;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      min-width: 40px !important;
      min-height: 40px !important;
      color: #fff;
      border-radius: 50%;
      background-color: rgba(0 0 0 / 0.114%);
      border: 1px solid rgba(128 128 128 / 0.368%);
      box-sizing: border-box;
      margin-right: 5px;
    }
  }

  .title {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;

    .hr {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      background: var(--routine-card-split-line);
    }
  }

  .info {
    // display: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: -8px;
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    
    span {
      margin-right: 5px;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 100px;
    overflow: scroll hidden;
    margin-top: 5px;
    margin-bottom: -10px;

    >div,
    .iso>div {
      border-left: 1px solid var(--routine-card-split-line);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:first-child {
        border: unset;
      }
    }

    .time {
      font-weight: 500;
      font-size: 15px;
      min-width: 126px;

      p {
        white-space: nowrap;

        &.date {
          color: #8b8b8b;
        }
      }

      svg {
        color: #8b8b8b;
        margin-top: -2px;
        font-size: 20px;
      }
    }

    .iso {
      display: flex;
      flex-flow: row nowrap;
      max-height: 60px;
    }

    .wrapper {
      text-align: center;
      padding: 0 5px;
      max-height: 60px;

      p {
        text-wrap: nowrap;
      }

      .info {
        font-size: 30px;
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        position: relative;
        margin-bottom: -18px;

        span {
          font-size: 16px;
          font-weight: 700;
          margin: 0 2px;

          &.kg {
            // position: absolute;
            right: -18px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .copy-wk {
    color: #fff !important;
    font-family: 'Baloo Tamma 2', sans-serif !important;
    height: 37px;
    width: 144px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    &::before {
      content: "";
      background: var(--wk-card-inner-shadow);
      height: 100%;
      width: 50%;
      position: absolute;
      transform: skew(-45deg) scaleX(1) !important;
      top: 0;
      right: 0;
    }

    &:hover {
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255 255 255 / 8%);
      }
    }

    svg {
      margin-top: -2px;
    }
  }

  @media screen and (width<=479px) {
    .wrapper:nth-child(5) {
      display: none;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: var(--workout-card-bg-opacity);
  }
}