.options-menu,
.options-menu-ex {
  .MuiMenu-paper {
    background: #1a1a1a;
    border: 1px solid #727272;
    border-radius: 8px;
    background: #18191c;
    border-radius: 8px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.55);
    border: 1px solid #ffffff29;
    border: none;
    margin-top: 8px;
    margin-left: -1%;

    .MuiMenuItem-root {
      font-weight: 500;
      color: #fff;
      text-align: center;
      display: flex;
      text-align: center;
      line-height: 22px;
      min-height: 22px;

      svg {
        font-size: 18px;
        margin-right: 10px;
      }

      &:hover {
        background: #ffffff19;
      }
    }
  }

  hr {
    border: 1px solid #ffffff1f;
  }
}

.options-menu-ex {
  .MuiMenu-paper {
    margin-top: -5px;
  }
}

.routineInfo-container {
  .header {
    position: sticky !important;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--app-bg);
      opacity: 0.9;
      z-index: -1;
      top: 0;
    }

    #title {
      z-index: 122;
      overflow: hidden;
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        justify-content: center;
        border: 2px solid;
        border-radius: 50%;
        padding: 6px;
        margin-right: 10px;
        display: none;
      }
    }

    .btns {
      position: unset;
      width: 40px;
      align-items: center;

      .addEx {
        color: gray;
        margin-right: 6px;
      }
    }

    .btn-back {
      width: 40px;
      min-width: 40px !important;
      height: 40px;
      min-width: 10px;
      min-height: 10px;
      border-radius: 50%;
      color: gray;
      justify-content: center;
      align-items: center;
      margin-right: 4px;

      &:hover {
        background: #ffffff09;
      }

      svg {
        margin-left: 8px;
        font-size: 20px;
      }
    }

    h1 {
      word-wrap: break-word;
      padding-top: 4px;
      overflow: hidden;
      line-height: 22px;
      position: relative;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .modal-del-ex {
    .main {
      padding: 0 20px 10px 20px;
    }

    .info {
      color: var(--primary-color);
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      svg {
        margin-top: -4px;
        margin-right: 10px;
        font-size: 40px;
      }
    }

    .ctrl {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -10px;
      border: unset;
      z-index: 10;

      .del {
        background: transparent;
        border: 1px solid red;
        color: red;
        font-weight: 900 !important;
      }

      .cancel {
        color: var(--gray1);
      }

      .loader {
        color: red;
        margin-left: -20px;
      }
    }
  }

  .edit-routine,
  .edit-ex {
    color: gray;
    min-width: 10px;
    min-height: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;

    &:hover {
      background: #ffffff09;
    }
  }

  .edit-ex {
    margin-right: -16px;
  }

  .exercises-list {
    height: 100%;
    margin-top: 25px;

    .loader-animation {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 37px;
      color: #757cef;
    }

    .exercise {
      box-shadow: 0px 3px 7px rgb(0 0 0 / 9%);
      font-family: Baloo Tamma 2;
      background: #121316;
      background: var(--card-bg);
      width: 100%;
      border-radius: 14px;
      border: 1px solid transparent;
      padding: 10px 16px;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #6e6e6e;
      position: relative;
      height: 70px;
      user-select: none;
      touch-action: cross-slide-y;

      &.skeleton {
        animation: skeleton-loading 1s linear infinite alternate;

        &::before {
          background: unset;
        }
      }

      @media (min-width: 480px) {
        &:hover {
          border: 1px solid var(--gray1);
        }
      }

      &::before {
        content: "";
        background: var(--card-inner-shadow);
        height: 100%;
        width: 50%;
        position: absolute;
        transform: skew(45deg);
      }

      &:nth-child(even)::before {
        transform: skew(315deg);
        right: 0;
      }

      h1 {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        color: var(--primary-color);
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .drag {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        flex-direction: column;
        z-index: 8;
        // border: 1px solid red;
        pointer-events: all;

        svg {
          // margin-right: 5px;
          // margin-top: 5px;
          font-size: 25px;
        }
      }

      .title {
        max-width: 84%;
      }

      .info {
        font-size: 14px;
        font-weight: 500;
        margin-top: -8px;

        span {
          font-weight: 700;
          color: #b4c0ff;
          margin-left: 10px;
          margin-right: 2px;

          &:nth-child(2) {
            margin-left: 2px;
            color: #ff81af;
          }
        }
      }
    }

    .superset {
      border-color: #6a6a6a36;
      box-shadow: none;
      width: 100%;
      border-radius: 14px;
      box-shadow: 0px 3px 7px rgb(0 0 0 / 9%);
      // border: 1px solid #121316;
      list-style: none;
      margin-bottom: 8px;
      box-sizing: border-box;
      padding: 0;
      background: unset;
      overflow: visible;
      height: 100%;

      &:hover {
        // border-color: transparent;
      }

      &::before {
        background: transparent;
      }

      ul {
        width: 100%;
      }

      &:hover {
        background: unset;
      }

      .heading {
        padding: 3px 16px;
        overflow: hidden;
        background: #111214;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        align-items: center;
        border-radius: 13px 13px 0 0;

        .drag {
          padding: 10px 0px;
        }
      }

      .exercise {
        border-radius: 0;
        border: 0;
        margin-bottom: 4px;
        box-shadow: none;
        // border-bottom: 3px solid #0c0d10;
        height: 70px;

        &::before {
          // background: transparent;
        }

        &:last-child {
          margin-bottom: 0;
          border-radius: 0 0 14px 14px;
        }
      }
    }
  }
}